body {
  margin: 0;
  background: #616161; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  padding: 10px;
}

.input-area {
  margin-bottom: 20px;
}

.container {
  background-color: snow;
  min-height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 5vh;
  border-radius: 10px;
}

.task-area {
  border: 2px solid #d3d0cb;
}

.task-tabs {
  display: flex;
  position: relative;
  border-bottom: 2px solid #d3d0cb;
}

.task-tabs div {
  padding: 1em;
}

#under-line {
  height: 4px;
  background-color: #4d5061;
  position: absolute;
  width: 70px;
  left: 0px;
  top: 66px;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 2px solid #d3d0cb;
}

.task-done {
  text-decoration: line-through;
}

.task-tabs div {
  cursor: pointer;
}
